<?xml version="1.0" encoding="Windows-1252"?>
<VisualStudioProject
    ProjectType="Visual C++"
    Version="7.10"
    Name="ltilib"
    RootNamespace="ltilib"
    SccProjectName=""
    SccLocalPath="">
    <Platforms>
        <Platform
            Name="Win32"/>
    </Platforms>
    <Configurations>
        <Configuration
            Name="WIN32 Debug|Win32"
            OutputDirectory=".\..\..\lib"
            IntermediateDirectory=".\..\..\obj\$(ConfigurationName)"
            ConfigurationType="4"
            UseOfMFC="0"
            ATLMinimizesCRunTimeLibraryUsage="FALSE"
            CharacterSet="2">
            <Tool
                Name="VCCLCompilerTool"
                AdditionalOptions="/Zm200 "
                Optimization="0"
                AdditionalIncludeDirectories="$INCDIRS"
                PreprocessorDefinitions="WIN32;_DEBUG;_LIB"
                BasicRuntimeChecks="3"
                RuntimeLibrary="1"
                RuntimeTypeInfo="TRUE"
                PrecompiledHeaderFile=".\..\..\obj\$(ConfigurationName)\ltilib7_dwin32.pch"
                AssemblerListingLocation=".\..\..\obj\$(ConfigurationName)\"
                ObjectFile=".\..\..\obj\$(ConfigurationName)\"
                ProgramDataBaseFileName="$(OutDir)\ltilib7_dwin32.pdb"
                WarningLevel="3"
                SuppressStartupBanner="TRUE"
                DebugInformationFormat="4"
                CompileAs="0"/>
            <Tool
                Name="VCCustomBuildTool"/>
            <Tool
                Name="VCLibrarianTool"
                AdditionalDependencies=""
                OutputFile="$(OutDir)/ltilib7_dwin32.lib"
                AdditionalLibraryDirectories=""
                IgnoreAllDefaultLibraries="TRUE"
                IgnoreDefaultLibraryNames=""/>
            <Tool
                Name="VCMIDLTool"
                TypeLibraryName=".\..\..\obj\debug/ltilib7_dwin32.tlb"
                HeaderFileName=""/>
            <Tool
                Name="VCPostBuildEventTool"/>
            <Tool
                Name="VCPreBuildEventTool"/>
            <Tool
                Name="VCPreLinkEventTool"/>
            <Tool
                Name="VCResourceCompilerTool"
                PreprocessorDefinitions="_DEBUG"
                Culture="1031"/>
            <Tool
                Name="VCWebServiceProxyGeneratorTool"/>
            <Tool
                Name="VCXMLDataGeneratorTool"/>
            <Tool
                Name="VCManagedWrapperGeneratorTool"/>
            <Tool
                Name="VCAuxiliaryManagedWrapperGeneratorTool"/>
        </Configuration>
        <Configuration
            Name="WIN32 Release|Win32"
            OutputDirectory=".\..\..\lib"
            IntermediateDirectory=".\..\..\obj\$(ConfigurationName)"
            ConfigurationType="4"
            UseOfMFC="0"
            ATLMinimizesCRunTimeLibraryUsage="FALSE"
            CharacterSet="2">
            <Tool
                Name="VCCLCompilerTool"
                AdditionalOptions="/Zm200 "
                Optimization="2"
                InlineFunctionExpansion="1"
                AdditionalIncludeDirectories="$INCDIRS"
                PreprocessorDefinitions="WIN32;NDEBUG;_LIB"
                StringPooling="TRUE"
                RuntimeLibrary="0"
                EnableFunctionLevelLinking="TRUE"
                RuntimeTypeInfo="TRUE"
                PrecompiledHeaderFile=".\..\..\obj\$(ConfigurationName)\ltilib7_rwin32.pch"
                AssemblerListingLocation=".\..\..\obj\$(ConfigurationName)\"
                ObjectFile=".\..\..\obj\$(ConfigurationName)\"
                ProgramDataBaseFileName="$(OutDir)\ltilib7_rwin32.pdb"
                WarningLevel="3"
                SuppressStartupBanner="TRUE"
                DebugInformationFormat="0"
                CompileAs="0"/>
            <Tool
                Name="VCCustomBuildTool"/>
            <Tool
                Name="VCLibrarianTool"
                AdditionalDependencies=""
                OutputFile="$(OutDir)/ltilib7_rwin32.lib"
                AdditionalLibraryDirectories=""
                IgnoreAllDefaultLibraries="TRUE"
                IgnoreDefaultLibraryNames=""/>
            <Tool
                Name="VCMIDLTool"
                TypeLibraryName=".\..\..\obj\release/ltilib7_rwin32.tlb"
                HeaderFileName=""/>
            <Tool
                Name="VCPostBuildEventTool"/>
            <Tool
                Name="VCPreBuildEventTool"/>
            <Tool
                Name="VCPreLinkEventTool"/>
            <Tool
                Name="VCResourceCompilerTool"
                PreprocessorDefinitions="NDEBUG"
                Culture="1031"/>
            <Tool
                Name="VCWebServiceProxyGeneratorTool"/>
            <Tool
                Name="VCXMLDataGeneratorTool"/>
            <Tool
                Name="VCManagedWrapperGeneratorTool"/>
            <Tool
                Name="VCAuxiliaryManagedWrapperGeneratorTool"/>
        </Configuration>
        <Configuration
            Name="MFC Shared Debug|Win32"
            OutputDirectory=".\..\..\lib"
            IntermediateDirectory=".\..\..\obj\$(ConfigurationName)"
            ConfigurationType="4"
            UseOfMFC="2"
            ATLMinimizesCRunTimeLibraryUsage="FALSE"
            CharacterSet="2">
            <Tool
                Name="VCCLCompilerTool"
                AdditionalOptions="/Zm200 "
                Optimization="0"
                AdditionalIncludeDirectories="$INCDIRS"
                PreprocessorDefinitions="WIN32;_DEBUG;_LIB"
                BasicRuntimeChecks="3"
                RuntimeLibrary="3"
                RuntimeTypeInfo="TRUE"
                PrecompiledHeaderFile=".\..\..\obj\$(ConfigurationName)\ltilib7_dmfcd.pch"
                AssemblerListingLocation=".\..\..\obj\$(ConfigurationName)\"
                ObjectFile=".\..\..\obj\$(ConfigurationName)\"
                ProgramDataBaseFileName="$(OutDir)\ltilib7_dmfcd.pdb"
                WarningLevel="3"
                SuppressStartupBanner="TRUE"
                DebugInformationFormat="4"
                CompileAs="0"/>
            <Tool
                Name="VCCustomBuildTool"/>
            <Tool
                Name="VCLibrarianTool"
                AdditionalDependencies=""
                OutputFile="$(OutDir)/ltilib7_dmfcd.lib"
                AdditionalLibraryDirectories=""
                IgnoreAllDefaultLibraries="TRUE"
                IgnoreDefaultLibraryNames=""/>
            <Tool
                Name="VCMIDLTool"
                TypeLibraryName=".\..\..\obj\debug/ltilib7_dmfcd.tlb"
                HeaderFileName=""/>
            <Tool
                Name="VCPostBuildEventTool"/>
            <Tool
                Name="VCPreBuildEventTool"/>
            <Tool
                Name="VCPreLinkEventTool"/>
            <Tool
                Name="VCResourceCompilerTool"
                PreprocessorDefinitions="_DEBUG"
                Culture="1031"/>
            <Tool
                Name="VCWebServiceProxyGeneratorTool"/>
            <Tool
                Name="VCXMLDataGeneratorTool"/>
            <Tool
                Name="VCManagedWrapperGeneratorTool"/>
            <Tool
                Name="VCAuxiliaryManagedWrapperGeneratorTool"/>
        </Configuration>
        <Configuration
            Name="MFC Shared Release|Win32"
            OutputDirectory=".\..\..\lib"
            IntermediateDirectory=".\..\..\obj\$(ConfigurationName)"
            ConfigurationType="4"
            UseOfMFC="2"
            ATLMinimizesCRunTimeLibraryUsage="FALSE"
            CharacterSet="2">
            <Tool
                Name="VCCLCompilerTool"
                AdditionalOptions="/Zm200 "
                Optimization="2"
                InlineFunctionExpansion="1"
                AdditionalIncludeDirectories="$INCDIRS"
                PreprocessorDefinitions="WIN32;NDEBUG;_LIB"
                StringPooling="TRUE"
                RuntimeLibrary="2"
                EnableFunctionLevelLinking="TRUE"
                RuntimeTypeInfo="TRUE"
                PrecompiledHeaderFile=".\..\..\obj\$(ConfigurationName)\ltilib7_rmfcd.pch"
                AssemblerListingLocation=".\..\..\obj\$(ConfigurationName)\"
                ObjectFile=".\..\..\obj\$(ConfigurationName)\"
                ProgramDataBaseFileName="$(OutDir)\ltilib7_rmfcd.pdb"
                WarningLevel="3"
                SuppressStartupBanner="TRUE"
                DebugInformationFormat="0"
                CompileAs="0"/>
            <Tool
                Name="VCCustomBuildTool"/>
            <Tool
                Name="VCLibrarianTool"
                AdditionalDependencies=""
                OutputFile="$(OutDir)/ltilib7_rmfcd.lib"
                AdditionalLibraryDirectories=""
                IgnoreAllDefaultLibraries="TRUE"
                IgnoreDefaultLibraryNames=""/>
            <Tool
                Name="VCMIDLTool"
                TypeLibraryName=".\..\..\obj\release/ltilib7_rmfcd.tlb"
                HeaderFileName=""/>
            <Tool
                Name="VCPostBuildEventTool"/>
            <Tool
                Name="VCPreBuildEventTool"/>
            <Tool
                Name="VCPreLinkEventTool"/>
            <Tool
                Name="VCResourceCompilerTool"
                PreprocessorDefinitions="NDEBUG"
                Culture="1031"/>
            <Tool
                Name="VCWebServiceProxyGeneratorTool"/>
            <Tool
                Name="VCXMLDataGeneratorTool"/>
            <Tool
                Name="VCManagedWrapperGeneratorTool"/>
            <Tool
                Name="VCAuxiliaryManagedWrapperGeneratorTool"/>
        </Configuration>
        <Configuration
            Name="LTI-Lib .NET Debug|Win32"
            OutputDirectory=".\..\..\lib"
            IntermediateDirectory=".\..\..\obj\$(ConfigurationName)"
            ConfigurationType="4"
            UseOfMFC="0"
            ATLMinimizesCRunTimeLibraryUsage="FALSE"
            CharacterSet="2">
            <Tool
                Name="VCCLCompilerTool"
                AdditionalOptions="/Zm200 "
                Optimization="0"
                AdditionalIncludeDirectories="$INCDIRS"
                PreprocessorDefinitions="WIN32;_DEBUG;_LIB"
                BasicRuntimeChecks="3"
                RuntimeLibrary="3"
                RuntimeTypeInfo="TRUE"
                PrecompiledHeaderFile=".\..\..\obj\$(ConfigurationName)\ltilib7_d.pch"
                AssemblerListingLocation=".\..\..\obj\$(ConfigurationName)\"
                ObjectFile=".\..\..\obj\$(ConfigurationName)\"
                ProgramDataBaseFileName="$(OutDir)\ltilib7_d.pdb"
                WarningLevel="3"
                SuppressStartupBanner="TRUE"
                DebugInformationFormat="4"
                CompileAs="0"/>
            <Tool
                Name="VCCustomBuildTool"/>
            <Tool
                Name="VCLibrarianTool"
                AdditionalDependencies=""
                OutputFile="$(OutDir)/ltilib7_d.lib"
                AdditionalLibraryDirectories=""
                IgnoreAllDefaultLibraries="TRUE"
                IgnoreDefaultLibraryNames=""/>
            <Tool
                Name="VCMIDLTool"
                TypeLibraryName=".\..\..\obj\debug/ltilib7_d.tlb"
                HeaderFileName=""/>
            <Tool
                Name="VCPostBuildEventTool"/>
            <Tool
                Name="VCPreBuildEventTool"/>
            <Tool
                Name="VCPreLinkEventTool"/>
            <Tool
                Name="VCResourceCompilerTool"
                PreprocessorDefinitions="_DEBUG"
                Culture="1031"/>
            <Tool
                Name="VCWebServiceProxyGeneratorTool"/>
            <Tool
                Name="VCXMLDataGeneratorTool"/>
            <Tool
                Name="VCManagedWrapperGeneratorTool"/>
            <Tool
                Name="VCAuxiliaryManagedWrapperGeneratorTool"/>
        </Configuration>
        <Configuration
            Name="LTI-Lib .NET Release|Win32"
            OutputDirectory=".\..\..\lib"
            IntermediateDirectory=".\..\..\obj\$(ConfigurationName)"
            ConfigurationType="4"
            UseOfMFC="0"
            ATLMinimizesCRunTimeLibraryUsage="FALSE"
            CharacterSet="2">
            <Tool
                Name="VCCLCompilerTool"
                AdditionalOptions="/Zm200 "
                Optimization="2"
                InlineFunctionExpansion="1"
                AdditionalIncludeDirectories="$INCDIRS"
                PreprocessorDefinitions="WIN32;NDEBUG;_LIB"
                StringPooling="TRUE"
                RuntimeLibrary="2"
                EnableFunctionLevelLinking="TRUE"
                RuntimeTypeInfo="TRUE"
                PrecompiledHeaderFile=".\..\..\obj\$(ConfigurationName)\ltilib7_r.pch"
                AssemblerListingLocation=".\..\..\obj\$(ConfigurationName)\"
                ObjectFile=".\..\..\obj\$(ConfigurationName)\"
                ProgramDataBaseFileName="$(OutDir)\ltilib7_r.pdb"
                WarningLevel="3"
                SuppressStartupBanner="TRUE"
                DebugInformationFormat="0"
                CompileAs="0"/>
            <Tool
                Name="VCCustomBuildTool"/>
            <Tool
                Name="VCLibrarianTool"
                AdditionalDependencies=""
                OutputFile="$(OutDir)/ltilib7_r.lib"
                AdditionalLibraryDirectories=""
                IgnoreAllDefaultLibraries="TRUE"
                IgnoreDefaultLibraryNames=""/>
            <Tool
                Name="VCMIDLTool"
                TypeLibraryName=".\..\..\obj\release/ltilib7_r.tlb"
                HeaderFileName=""/>
            <Tool
                Name="VCPostBuildEventTool"/>
            <Tool
                Name="VCPreBuildEventTool"/>
            <Tool
                Name="VCPreLinkEventTool"/>
            <Tool
                Name="VCResourceCompilerTool"
                PreprocessorDefinitions="NDEBUG"
                Culture="1031"/>
            <Tool
                Name="VCWebServiceProxyGeneratorTool"/>
            <Tool
                Name="VCXMLDataGeneratorTool"/>
            <Tool
                Name="VCManagedWrapperGeneratorTool"/>
            <Tool
                Name="VCAuxiliaryManagedWrapperGeneratorTool"/>
        </Configuration>
    </Configurations>
    <References>
    </References>
    <Files>
        <Filter
            Name="Source Files"
            Filter="cpp;c;cxx;rc;def;r;odl;idl;hpj;bat">
        </Filter>
        <Filter
            Name="ltilib"
            Filter="">
