        </Filter>
        <Filter
            Name="Header Files"
            Filter="h;hpp;hxx;hm;inl">
        </Filter>
        <Filter
            Name="Resource Files"
            Filter="ico;cur;bmp;dlg;rc2;rct;bin;rgs;gif;jpg;jpeg;jpe">
        </Filter>
    </Files>
    <Globals>
    </Globals>
</VisualStudioProject>
