                <File
                    RelativePath="$FILE">
                    <FileConfiguration
                        Name="WIN32 Debug|Win32">
                        <Tool
                            Name="VCCLCompilerTool"
                            Optimization="0"
                            AdditionalIncludeDirectories=""
                            PreprocessorDefinitions=""
                            BasicRuntimeChecks="3"/>
                    </FileConfiguration>
                    <FileConfiguration
                        Name="WIN32 Release|Win32">
                        <Tool
                            Name="VCCLCompilerTool"
                            Optimization="2"
                            AdditionalIncludeDirectories=""
                            PreprocessorDefinitions=""/>
                    </FileConfiguration>
                    <FileConfiguration
                        Name="LTI-Lib .NET Debug|Win32">
                        <Tool
                            Name="VCCLCompilerTool"
                            Optimization="0"
                            AdditionalIncludeDirectories=""
                            PreprocessorDefinitions=""
                            BasicRuntimeChecks="3"/>
                    </FileConfiguration>
                    <FileConfiguration
                        Name="LTI-Lib .NET Release|Win32">
                        <Tool
                            Name="VCCLCompilerTool"
                            Optimization="2"
                            AdditionalIncludeDirectories=""
                            PreprocessorDefinitions=""/>
                    </FileConfiguration>
                    <FileConfiguration
                        Name="MFC Shared Debug|Win32">
                        <Tool
                            Name="VCCLCompilerTool"
                            Optimization="0"
                            AdditionalIncludeDirectories=""
                            PreprocessorDefinitions=""
                            BasicRuntimeChecks="3"/>
                    </FileConfiguration>
                    <FileConfiguration
                        Name="MFC Shared Release|Win32">
                        <Tool
                            Name="VCCLCompilerTool"
                            Optimization="2"
                            AdditionalIncludeDirectories=""
                            PreprocessorDefinitions=""/>
                    </FileConfiguration>
                </File>
